 *{
     box-sizing: border-box;
 }
 body{
     background-image: url(img.jpg);
     background-position: center;
    background-size: cover;
 }
 h1{
     text-align: center;
     color: green;
 }
 .que{
     font-weight: bold;
 }
 .row1{
     width: 100%;
    border: 1px solid black;
 }
 .mark{
     margin-right: 10px;
     float:right;
    text-align: right;
    color:red;
 }
 .sub{
     clear: both;
     font-weight: bold;
 }
 .high{
     height:40px;
 }
 .form{
    clear: both;
     margin: 40px auto;
     width:800px;
     text-align: center;
 }
 .for{
    margin: 0px auto;
    text-align: left;
 }
 .home{
    width: 50%;
    float:left;
 }
 .logout{
     width: 50%;
     float:right;
     text-align: right;
     margin-bottom: 10px;
 }
 .hr{
     clear: both;
 }
 .new_account{
     width:50%;
     float:left;
 }
 @media(max-width:768px){
    .form{
        clear: both;
        text-align: left;
        margin: 10px auto;
    }
    .for{
        margin: 0px 0px;
        
    }
 }
 .tot{ 
     clear: both;
     text-align: center;
     font-weight: bold;
 }